.o_api_connector_log_content {
    display: block;
    width: 100%;
    min-height: 12rem;
    max-height: 65vh;
    padding: 0.75rem;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-family: monospace;

    > span {
        overflow-wrap: inherit;
        white-space: inherit;
        word-break: inherit;
    }
}
